body {
  background-color: black;
}
  
  
.box {
  border: 20px solid black;
  background-color: rgb(151, 151, 151);
  box-shadow: inset 0 0 0 10px rgb(105, 104, 104);
}
  
.flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  
  
.pad {
  padding: 50px;
}
  
  
.text-box {
  border: 5px solid rgb(27, 39, 255);
  height: 50px;
  padding: 5px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
