body {
  background-color: rgb(167, 166, 166);
}
  
  
.box {
  /* border: 20px solid black; */
  background-color: rgb(167, 166, 166);
  box-shadow: inset 0 0 0 10px rgb(105, 104, 104);
}
  
.flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  

.pad {
  padding: 50px;
}

  
.text-box {
  border: 5px solid rgb(27, 39, 255);
  height: 50px;
  padding: 5px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(167, 166, 166);
  z-index: 1000;
  box-sizing: border-box; 
}

.navBar .name {
  color: white;
  font-size: 22px;
  text-align: left;
  font-family: "Courier New", Courier, "Lucida Console", Monaco, monospace;
  font-weight: bold;
}

.navLinks {
  display: flex;
  align-items: center;
  font-family: "Courier New", Courier, "Lucida Console", Monaco, monospace;
  font-size: 20px;
}

.navLinks a {
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
  color: white;
}

.navLinks a.active {
  font-weight: bold;
}


.pageContent {
  padding-top: 60px
}

